---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="../../public/favicon.svg" type="image/x-icon" />
    <title>Attendance Portal</title>
  </head>
  <body class="bg-black text-white">
    <slot />
  </body>
</html>
