---
import { Button } from "@/components/ui/button";
import Main from "../layouts/Main.astro";
import { PostList } from "@/components/Post";
import Navbar from "@/components/Navbar.astro";

export const prerender = true;
---

<Main>
  <Navbar />
  <div class="container mx-auto px-5 mt-10">
    <div class="flex justify-between items-center mb-7">
      <h1 class="text-xl font-bold">Post</h1>
      <a href="/create/post">
        <Button>Create Post</Button>
      </a>
    </div>
    <PostList client:load />
  </div>
</Main>
