---
import { ClassCardContainer } from "@/components/ClassCard";
import Main from "../layouts/Main.astro";
import Navbar from "@/components/Navbar.astro";

export const prerender = true;
---

<Main>
  <Navbar />
  <div class="container mx-auto px-5 mt-10">
    <h1 class="text-xl font-bold mb-5">Classes</h1>
    <ClassCardContainer client:load />
  </div>
</Main>
